@model IEnumerable<NoorGeneralHospital.Models.Sp_Model.DoctorSchedule_GetDoctorScheduleDetails>


<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Schedule</h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <a href="#" onclick="_AddEditDoctorSchedule(0)" class="btn btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Add Schedule</a>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-border table-striped custom-table mb-0">
                <thead>
                    <tr>
                        <th> Doctor Name</th>
                        <th> Speciality</th>
                        <th> Available Days</th>
                        <th> Available Time</th>
                        <th> Status</th>
                        <th class="text-right">Action(s)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var docsch in Model)
                {
                    <tr>
                        <td>@docsch.DoctorName</td>
                        <td>@docsch.Speciality</td>
                        <td>@docsch.AvailableDays</td>
                        <td>@docsch.AvailableTime</td>
                        <td>
                            @{
                                if (docsch.IsActive == true)
                                {
                                    <span class="custom-badge status-green">Active</span>
                                }
                                else
                                {
                                    <span class="custom-badge status-red">InActive</span>
                                }
                            }
                        </td>
                        <td class="text-right">
                            <a class="btn btn-outline-primary" onclick="_AddEditDoctorSchedule('@docsch.Id')"><i class="fa fa-pencil"></i> </a>
                            <a class="btn btn-outline-danger" onclick="DeleteDoctorSchedule('@docsch.Id')"><i class="fa fa-trash-o"></i> </a>
                        </td>
                    </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
