@model NoorGeneralHospital.Models.InputDTO.DoctorInput

@{
    ViewBag.Title = "Create/Update";
}

<div class="row">
    <div class="col-lg-8 offset-lg-2">
        <h4 class="page-title">Create/Update Doctor</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 offset-lg-2">
        @using (Html.BeginForm("SaveDoctor", "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                @Html.HiddenFor(d => d.Id)
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Username </label>
                        @Html.TextBoxFor(s => s.UserName, new { @class = "form-control", @placeholder = "Enter Doctor Name" })
                        @Html.ValidationMessageFor(s => s.UserName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email </label>
                        @Html.TextBoxFor(s => s.Email, new { @class = "form-control", @placeholder = "Enter Doctor Email" })
                        @Html.ValidationMessageFor(s => s.Email, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Date of Birth</label>
                        <div class="cal-icon">
                            @Html.TextBoxFor(s => s.DOB, new { @class = "form-control datetimepicker" })
                            @Html.ValidationMessageFor(s => s.DOB, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Phone </label>
                        @Html.TextBoxFor(s => s.Phone, new { @class = "form-control", @placeholder = "Enter Phone Number" })
                        @Html.ValidationMessageFor(s => s.Phone, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                @Html.DropDownListFor(x => Model.GenderId, new SelectList(Model.GetGender(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.GenderId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label>Speciality</label>
                                @Html.DropDownListFor(x => Model.SpecialityId, new SelectList(Model.GetSpeciality(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.SpecialityId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 ">
                            <div class="form-group">
                                <label>Location</label>
                                @Html.DropDownListFor(x => Model.LocationId, new SelectList(Model.GetLocation(), "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.LocationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Avatar</label>
                                <div class="profile-upload">
                                    <div class="upload-input">
                                        @Html.TextBoxFor(m => m.file, new { type = "file" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Services</label>
                                @Html.TextBoxFor(s => s.Services, new { @class = "form-control", @placeholder = "Enter Education" })
                                @Html.ValidationMessageFor(s => s.Services, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Education</label>
                                @Html.TextBoxFor(s => s.Education, new { @class = "form-control", @placeholder = "Enter Education" })
                                @Html.ValidationMessageFor(s => s.Education, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Experience</label>
                                @Html.TextBoxFor(s => s.Experience, new { @class = "form-control", @placeholder = "Enter Experience" })
                                @Html.ValidationMessageFor(s => s.Experience, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Address</label>
                                @Html.TextBoxFor(s => s.Address, new { @class = "form-control", @placeholder = "Enter Address" })
                                @Html.ValidationMessageFor(s => s.Address, null, new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Short Biography(Optional)</label>
                @Html.TextAreaFor(s => s.ShortBioGraphy, new { @class = "form-control", @rows = "3", @cols = "30", @placeholder = "Enter Message" })
            </div>
            <div class="form-group">
                <label class="display-block">Doctor Status</label>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(s => s.IsActive, true, new { @class = "form-check-input", @name = "status", @checked = "checked" })
                    <label class="form-check-label" for="doctor_active">
                        Active
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    @Html.RadioButtonFor(s => s.IsActive, new { @class = "form-check-input", @name = "status" })
                    <label class="form-check-label">
                        Inactive
                    </label>
                </div>
            </div>
            <div class="m-t-20 text-center">
                <button class="btn btn-primary submit-btn">Create Doctor</button>
            </div>
        }
    </div>
</div>

<script src="~/Content/assets/js/jquery.validate.min.js"></script>
<script src="~/Content/assets/js/jquery.validate.unobtrusive.min.js"></script>

<script>
    $(document).ready(function () {
       
        $('#DOB').datetimepicker({
            format: 'DD/MM/YYYY',
        });

        $('form').submit(function (e) {
            e.preventDefault();
            var isValid = $(this).validate().form();
            if (!isValid) return false;
            else {
                debugger
                var fileInput = document.getElementById('file');
                var file = fileInput.files[0];
                var formData = new FormData(this);
                formData.append('file', file);
                $.ajax({
                    url: '/Doctor/SaveDoctor',
                    data: formData,
                    type: 'POST',
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                    },
                    complete: function () {
                    },
                    success: function (res) {
                        if (res.Code == "1") {
                            toastr.success(res.Message, 'success!');
                            _DoctorDetail();
                        }
                        else {
                            toastr.error(res.Message, 'error!');
                        }
                    },
                    error: function (jqXHR, error, errorThrown) {
                        toastr.error('Sorry Try again', 'error!');
                    },
                });
            }
        });

    });</script>
